$brown : #382A1F;
$yellow : #F9AC36;
$cream : #F8ECEC;
$green : #6C8685;
$dark-green : #294F50;

.condition-container {
    background-color: $cream;
    height : 100%;
    justify-content: center;
}

.condition-box{
    background-color: white;
}